<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Diák Regisztráció</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Diák Regisztráció</h2>
    <form action="/student_registration" method="POST">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <h3>Első idősáv</h3>
        <label><input type="radio" name="lecture1" value="1.1" required> 1.1 (max. 100 fő)</label>
        <label><input type="radio" name="lecture1" value="1.2"> 1.2 (max. 28 fő)</label>
        <label><input type="radio" name="lecture1" value="1.3"> 1.3 (max. 26 fő)</label>

        <h3>Második idősáv</h3>
        <label><input type="radio" name="lecture2" value="2.1" required> 2.1 (max. 50 fő)</label>
        <label><input type="radio" name="lecture2" value="2.2"> 2.2 (max. 25 fő)</label>
        <label><input type="radio" name="lecture2" value="2.3"> 2.3 (max. 30 fő)</label>

        <h3>Harmadik idősáv</h3>
        <label><input type="radio" name="lecture3" value="3.1" required> 3.1 (max. 50 fő)</label>
        <label><input type="radio" name="lecture3" value="3.2"> 3.2 (max. 40 fő)</label>
        <label><input type="radio" name="lecture3" value="3.3"> 3.3 (max. 50 fő)</label>

        <button type="submit">Regisztrálok</button>
    </form>
</body>
</html>
